anyio==3.5.0
asgiref==3.5.0
black==22.3.0
cfgv==3.3.1
click==8.1.2
distlib==0.3.4
fastapi==0.75.1
filelock==3.6.0
greenlet==1.1.2
h11==0.13.0
httptools==0.4.0
identify==2.4.12
idna==3.3
mypy-extensions==0.4.3
mysqlclient==2.1.0
nodeenv==1.6.0
pathspec==0.9.0
platformdirs==2.5.1
pre-commit==2.18.1
pydantic==1.9.0
python-dotenv==0.20.0
PyYAML==6.0
six==1.16.0
sniffio==1.2.0
SQLAlchemy==1.4.35
starlette==0.17.1
toml==0.10.2
tomli==2.0.1
typing_extensions==4.1.1
uvicorn==0.17.6
uvloop==0.16.0
virtualenv==20.14.1
watchgod==0.8.2
websockets==10.2
